# 配置文件和数据
config/*.json
data/

# 示例模块
modules/echo.py
modules/event_publisher.py
modules/event_subscriber.py

# Python 相关
__pycache__/
*.py[cod]
*.so
.env
venv/

# 日志文件
logs/
*.log

# IDE 相关
.idea/
.vscode/
.DS_Store

# Git 相关
.git/
.gitignore