# 配置文件和数据
config/*.json
data/

# Python 相关
__pycache__/
*.py[cod]
*.so
.env
venv/

# 日志文件
logs/
*.log

# IDE 相关
.idea/
.vscode/
.DS_Store

# 暂时移除所有模块
modules/*
!modules/echo.py
!modules/__init__.py
!modules/README.md
